{:kafka-broker {"metadata.broker.list" "localhost:9092"
                "serializer.class" "kafka.serializer.DefaultEncoder"
                "partitioner.class" "kafka.producer.DefaultPartitioner"}
 :journal-topic "ak_machine_events"
 :journal-file "/tmp/journal.out"
}
